@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Nanum+Pen+Script|Oxygen&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#fcfafa;
    width: 100vw;
}
#body-container {
    min-height: 100%;
    position: relative;
    padding-bottom: 30rem;
}
/*header*/

.nav-list {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 3px;
    
}

#logo {
    padding-left: 10px;
    float: left;
    font-size: 150%;
    text-transform: uppercase;
     font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    color: white;
}

#logo,
#menu {
    line-height: 55px;
}

.nav-item {
    float: right;
    margin-right: 30px;
}

.nav-link {
    color:#555555;;
}

.nav-link:hover {
    border-bottom: 1px solid #777777;
}


.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Navbar*/

.header-fixed {
    position: absolute;
    top: 5px;
    right: 0;
    left: 10px;
    z-index: 1;
    min-width: 90px;

}

.transparent {
    background-color: transparent;
    border: none;
}

#searchBox {
    width: 400px;
}

.navbar-nav {
    align-items: stretch;
    font-weight: 300;
}

.search-buttons {
    position: relative;
    top: -40px;
    height: 80px;
}
.btn-main{
    background-color: #a9ec24;;
    color: #020202;
    font-weight: 400;

}


.home-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.search-content {
    max-width: 650px;
    width: 100%;
    z-index: 2;
}

.home-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.15rem;
    padding-top: 66px;
    padding-bottom: 66px;
    color: #fff;
    background: url(../images/bg-main.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*background-color: #d3d3d3;*/
    text-decoration: none;
    height: 100%;
    max-height: 500px;
    min-height: 370px;
    z-index: 0;
}

.search-wrapper {
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
    line-height: 30px;
}

.search-title {
    display: block;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}




div#map {
    min-height: 500px;
    height: 100%;
    top: -30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10rem;
    background-color: #383838;
}

.padding-top {
    padding-top: 2.5rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.controls {
    width: 350px;
    height: 40px;
    padding: 5px 10px 5px 10px;
}



/* Bottom right text */

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


/*----------------Info Window---------------*/

#place-details {
    margin-left:0;
    color: #000;
  
}

#info-list-places {
    list-style-type: none;
}
.place-line{
    font-weight: 400;
    font-size: 14px;
}
.place-line-paragraphs{
    font-weight: 300;
    font-size: 12px;
}
#place-name {
    color: #000;
    font-family: 'Nanum+Pen+Script', cursive, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #c0e611;
    margin: 5px;
}

    
.weblink {
    position: relative;
    background-color: red;
}

/* Buttons */

.btn {
    font-family: 'Open+Sans', sans-serif;
    border-radius: 23px;
    width: 160px;
}

.btn-small {
    width: 60px;
    height: 40px;
    font-weight: 300;
}

.btn-red {
    color: #020202;
    background-color: #c0e611;;
    border-color: #c0e611;;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
    background-color: #98b511;
    border-color: #98b511;
    color: white;
}