@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Nanum+Pen+Script|Oxygen&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fcfafa;
    width: 100vw;
}


/*header*/

.nav-list {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 3px;

}

#logo {
    padding-left: 10px;
    float: left;
    font-size: 150%;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    color: white;
}

#logo,
#menu {
    line-height: 55px;
}

.nav-item {
    float: right;
    margin-right: 30px;
}

.nav-link {
    color: #555555;
    ;
}

.nav-link:hover {
    border-bottom: 1px solid #777777;
}


.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Navbar*/

.header-fixed {
    position: absolute;
    top: 5px;
    right: 0;
    left: 10px;
    z-index: 1;
    min-width: 90px;

}

.transparent {
    background-color: transparent;
    border: none;
}

#searchBox {
    width: 400px;
}

.navbar-nav {
    align-items: stretch;
    font-weight: 300;
}

.search-buttons {
    position: relative;
    top: -40px;
    height: 80px;
}

.btn-main {
    background-color: #f7c00f;
    ;
    color: #020202;
    font-weight: 400;

}

.btn-main:hover {
    background-color: #d0a417;
    font-weight: bold;
}
.heading-main{
text-shadow: 3px 2px black;    
}

.home-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.search-content {
    max-width: 650px;
    width: 100%;
    z-index: 2;
}

.home-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.15rem;
    padding-top: 66px;
    padding-bottom: 66px;
    color: #fff;
    background: url(../images/bg-main.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    text-decoration: none;
    height: 100%;
    max-height: 500px;
    min-height: 370px;
    z-index: 0;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}


#cover-text {
    color: #ffffff;
    font-size: 100%;
    font-family: "Oxygen";
    letter-spacing: 3px;
    width: 280px;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(92, 126, 156, 0.5);
    top: 240px;
    right: 70px;
    position: absolute;
}
#cover2 {
    color: #ffffff;
    font-size: 100%;
    font-family: "Oxygen";
    letter-spacing: 3px;
    width: 280px;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(92, 126, 156, 0.5);
    top: 240px;
    right: 70px;
    position: absolute;
}

.cover-text-heading {
    font-size: small;
}

.cover-text-paragraph {
    font-size: x-small
}

.search-wrapper {
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
    line-height: 30px;
}

.search-title {
    display: block;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}




div#map {
    min-height: 550px;
    height: 100%;
    top: -30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10rem;
    background-color: #383838;
}

.padding-top {
    padding-top: 2.5rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.controls {
    width: 350px;
    height: 40px;
    padding: 5px 10px 5px 10px;
}



/* Bottom right text */

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


/*----------------Info Window---------------*/

#place-details {
    margin-left: 0;
    color: #000;

}

#info-list-places {
    list-style-type: none;
}

.place-line {
    font-weight: 400;
    font-size: 14px;
}

.place-line-paragraphs {
    font-weight: 300;
    font-size: 12px;
}

#place-name {
    color: #000;
    font-family: 'Nanum+Pen+Script', sans-serif;
    text-shadow: 2px 2px lightgrey;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #f7c00f;
    margin: 5px;
}

.block-divider{
width: 70px;
height: 5px;
border-radius: 10%;
background-color: #f7c00f;
text-align: center;
}

.weblink {
    position: relative;
    background-color: red;
}

/* Buttons */

.btn {
    font-family: 'Open+Sans', sans-serif;
    border-radius: 23px;
    width: 160px;
}

.btn-small {
    width: 60px;
    height: 40px;
    font-weight: 300;
}

.btn-red {
    color: #020202;
    background-color: #f7c00f;
    ;
    border-color: #f7c00f;
    ;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
    background-color: #d0a417;
    font-weight: bold;
}

#about-section {
    background-color: white;
    color: #081216;
}

.about-section-right {
    text-align: right;
}


.about-paragraphs {
    padding: 10px;
    margin: 5px;
    background-color: #081216;
    color: white;
    line-height: 1.8;

}

.about-heading {
    font-size: 150%;
    text-shadow: 4px 3px lightgrey;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    font-size: 150%;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 3px;
    border-bottom: 3px solid #f7c00f;
}
#reasonsBeWithUs{
    background-color:  #fcfafa;
}
.reasonsBeWithUs-item{
   padding-left:  10px;
   padding-right: 10px;
}
.icon-about{
    color: #f7c00f;
    font-size: 25px;
    margin: 12px;
}
#travel-packages-section{
    color: black;
    background-color: rgba(92, 126, 156, 0.5);
    padding-bottom: 20px;
}
.btn-packages{
    font-family: "Oxygen", sans-serif;
    text-align: center;
    font-weight: bold; background-color:#fcfafa; 
}
.btn-packages:hover{
    text-decoration: underline;
}
.img-container{
    position: relative;
}
.bottom-right {
  position: absolute;
  bottom: 2px;
  right: 16px;
}
.content-img{
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */
    
}

/*--------------------------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
#footer-details{
    padding-top: 10px;
}

.inline-block {
    display: inline-block;
}
.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}
footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.fa-facebook-f:hover {
    background: #3b5998;
}
.fa-twitter:hover {
    background: #00aced;
}

.fa-instagram:hover {
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.fa-youtube:hover {
    background: #bb0000;
}
.copyright{
 font-family:'PT+Sans', sans-serif;
 font-weight:400;
 padding-bottom: 10px;
}
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 5px;
    margin: 0 auto;
    width: 90%;
}
.button-submit {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: darkgreen;
    color: #fafafa;
}